#g10015{
	cursor:pointer;
}

#tspan10027, #tspan10023{
	cursor:pointer;
}

.animate{
	
	transform: scale(1.2) translate(-800px, -1200px);
	transition-duration: 1s;
	
}

.animate_lab{
	
	transform: scale(1.2) translate(-5px, -50px);
	transition-duration: 1s;
	
}

.animate_cnp{
	
	transform: scale(1.2) translate(-12px, -50px);
	transition-duration: 1s;
	
}

.animate_udaf{
	
	transform: scale(1.2) translate(-15px, -50px);
	transition-duration: 1s;
	
}

.animate_ga{
	
	transform: scale(1.2) translate(-27px, -50px);
	transition-duration: 1s;
	
}

.animate_smpl{
	
	transform: scale(1.2) translate(-32px, -50px);
	transition-duration: 1s;
	
}